# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List development environment open source tools used in Data Science
- List simple arithmetic codings in Python

Some of the popular languages that Data Scientists use are :
1. python
2. R
3. SQL
4. C++
5. Ruby
6. Julia

Some of the commonly used libraries used by Data Scientists include :
- Pandas
- Numpy
- Matplotlib
- Scikit
- TensorFlow
- Apache Spark
- R Libraries

| Data Science Tools |
|--------------------|
| Jupyter Lab        |
| RStudio            |
| Anaconda Navigator |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author 
   Mayumi Ohta